/* NEED TO CREATE VARIABLES FOR COLORS TO ENABLE DARK LIGHT MODE */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


.Nav{
    display: flex;
    flex-direction: row;
    flex:1;
    background-color:#F7FAFD;
    padding: 25px 50px;
}
.nav-link {
    text-decoration: none; /* Removes underline */
    color: #011C4B;        /* Default color */
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    transition: color 0.3s ease; /* Smooth transition for hover effect */
    cursor: pointer;       /* Adds pointer cursor */
}

.nav-link:hover {
    color: #ff5722; 
           /* Change color on hover */
}


.Left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex:1;
    margin-right: 100px;
    >img{
        height: 30px;
        width: 80px;
        align-self: center;
    }
}
.Right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex:2;
    >div{
        align-self: center;
        >img {
            height: 30px;
            align-self: center;
            
        }
    }
    > p {
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        color: #011C4B;
        align-self: center;
        
    }
}
.ProfileImg{

    align-self: center;
    >Img{
        height: 30px;
    }
}    

/* ================================================= */
/* Footer */

.Footer {
    display: flex;
    flex-direction: row;
}
